/* src/components/css/DataView.css */

.stations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 30px;
}

.station-card {
    border: 1px solid #444;
    border-radius: 8px;
    padding: 20px;
    width: 345px;
    max-width: calc(50% - 10px);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    flex-grow: 1;
    box-sizing: border-box;
}

.station-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.station-card h4 {
    margin: 10px 0;
    font-size: 1.5rem;
    color: #fff;
}

.station-card h5 {
    text-align: left;
    margin-bottom: auto;
    font-family: monospace;
    font-size: 1.2rem;
    color: #ccc;
}

.station-card table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    font-size: 0.9rem;
    margin-top: 10px;
}

.station-card th, .station-card td {
    text-align: left;
    padding: 8px;
    border: 1px solid #444;
}

.station-card th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

.station-card td {
    background-color: #1e1e1e;
    color: #fff;
}

.station-card .view-more-button {
    width: 90%;
    font-size: 1.1rem;
    font-family: monospace;
    margin-top: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.station-card .view-more-button:hover {
    background-color: #0056b3;
}

.all-hydro-data-container {
    padding: 20px;
    background-color: #1a1a1a;
    color: #f4f4f4;
}

.station-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.station-header-inner {
    display: flex;
    align-items: center;
}

.station-code {
    font-size: 1.5rem;
    color: #fff;
    margin-right: 10px;
}

.station-name {
    font-size: 1.2rem;
    color: #ccc;
}

.all-hydro-data-container table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 1rem;
    table-layout: fixed;
}

.all-hydro-data-container th, .all-hydro-data-container td {
    padding: 10px;
    border: 1px solid #444;
    text-align: center;
}

.all-hydro-data-container th {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
}

.all-hydro-data-container td {
    background-color: #1e1e1e;
}

.all-hydro-data-container tbody tr:nth-child(odd) td {
    background-color: #2c2c2c;
}

.all-hydro-data-container button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    font-family: monospace;
}

.all-hydro-data-container button:hover {
    background-color: #0056b3;
}

.tabs .tab-button {
    padding: 10px 20px;
    border: none;
    background-color: #f9fbfc56;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 4px;
}

.tabs .tab-button.active {
    background-color: #007bff; /* Cor diferente para o botão ativo */
}

.recharts-default-tooltip {
    color: #1a1a1a;
}

.btn-voltar {
    width: 90%;
}