/* src/components/css/DataInputPage.css */

/* Estilos para o container */
.container {
    padding: 2.5rem;
    background-color: var(--background-color);
    margin: 2rem auto;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    /* Use 100% para evitar rolagem horizontal */
    width: 88%;
    color: var(--text-color);
    overflow-x: hidden;
    /* Previne rolagem horizontal */
}

/* Estilos para o título */
.container h2 {
    text-align: center;
    color: var(--text-color);
    margin: 0 0 25px;
    font-size: 2rem;
}

.list-stations:hover {
    cursor: auto;
    color: var(--text-color);
}

/* Estilos para o textarea */
textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--input-border);
    border-radius: 8px;
    resize: none;
    background-color: var(--input-background);
    color: var(--input-text);
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Botões */
button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--nav-link-hover);
    transform: scale(1.05);
}

/* Estilos para a visualização dos dados */
.data-view {
    margin-top: 2rem;
}

/* Contêiner de filtros */
.filters-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    /* Garante que os filtros não excedam a largura do contêiner */
}

/* Estilos para os filtros */
.filters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    margin: 10px 0 0;
    overflow-x: auto;
    padding-bottom: 10px;
    scrollbar-width: thin;
}

.label-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: var(--text-color-alt);
    white-space: nowrap;
}

.category {
    background-color: var(--input-background);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category h3 {
    cursor: pointer;
    color: var(--text-color-alt);
    font-size: 1.3rem;
    margin: 3px 0 10px;
    width: max-content;
}

.category .select-buttons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.category .select-buttons button {
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.category .select-buttons button:hover {
    background-color: var(--nav-link-hover);
}

/* Estilos para os checkboxes */
input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--input-border);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    position: relative;
    background-color: var(--input-background);
    margin-right: 10px;
    transition: border 0.3s ease, background-color 0.3s ease;
}

input[type="checkbox"]:checked {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

input[type="checkbox"]:checked::before {
    content: '✖';
    font-size: 17px;
    color: var(--background-color);
    position: absolute;
    left: 2px;
    top: -4px;
}

input[type="checkbox"]:hover {
    border-color: var(--nav-link-hover);
}

/* Estilos para os labels */
label {
    display: flex;
    align-items: center;
    color: var(--text-color-alt);
    width: max-content;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.15rem;
    font-weight: 500;
    cursor: pointer;
}

label:hover {
    color: #d1d1d1;
}

/* Contêiner de ícones de ação */
.action-icons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* Envolver ícones para evitar rolagem horizontal */
}

.icon-container {
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}

.icon {
    font-size: 24px;
    color: #007bff;
}

.icon:hover {
    color: #0056b3;
}

/* Tooltip de ação */
.icon-container .tooltip-text {
    visibility: hidden;
    width: max-content;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 110%;
    /* Posição abaixo do ícone */
    left: 5%;
    transform: translateX(-5%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    white-space: nowrap;
    font-size: 1.3rem;
}

.icon-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-text::after {
    content: '';
    position: absolute;
    top: 0;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}


/* Reduzir margens e tamanhos para telas menores */
@media (max-width: 768px) {
    .icon {
        font-size: 20px;
    }

    .icon-container {
        width: 120px;
        font-size: 12px;
    }

    .category h3,
    .category .select-buttons button {
        font-size: 0.9rem;
        /* Reduzir tamanho da fonte */
    }
}

@media (max-width: 576px) {
    .icon-container {
        margin-right: 10px;
        /* Reduzir o espaçamento entre ícones */
    }

    .icon {
        font-size: 18px;
    }

    .category h3,
    .category .select-buttons button {
        font-size: 0.8rem;
        /* Reduzir tamanho da fonte */
    }

    .filters {
        grid-template-columns: repeat(2, 1fr);
        /* Ajustar layout dos filtros */
    }
}