.shepherd-element {
    background: #fff; /* Fundo branco para o elemento do tour */
    color: #333; /* Cor do texto */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    transition: all 0.3s ease-in-out; /* Ajuste a velocidade de transição */
}

.shepherd-element .shepherd-header {
    display: flex;
    align-items: center;
}

.shepherd-element .shepherd-header-title {
    flex: 1;
}

.shepherd-element .shepherd-close,
.shepherd-element .shepherd-cancel-icon {
    color: #000000; /* Ajusta a cor do ícone de fechar */
    
    border-radius: 50%; /* Tornando o ícone circular */
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

.shepherd-element .shepherd-close:hover,
.shepherd-element .shepherd-cancel-icon:hover {
    background-color: #cc0000; /* Mudança de cor ao passar o mouse */
    padding: 13px 10px 10px;
}

.shepherd-element .shepherd-text {
    margin: 15px 15px 5px;
    text-align: center;
}

.shepherd-element .shepherd-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.shepherd-element .shepherd-footer .shepherd-button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s ease; /* Ajuste a velocidade de transição */
}

.shepherd-element .shepherd-button.shepherd-button-primary {
    background-color: #007bff;
    color: #fff;
}

.shepherd-element .shepherd-button.shepherd-button-primary:hover {
    background-color: #0056b3; /* Mudança de cor ao passar o mouse */
}

.shepherd-element .shepherd-button.shepherd-button-secondary {
    background-color: #6c757d;
    color: #fff;
}

.shepherd-element .shepherd-button.shepherd-button-secondary:hover {
    background-color: #5a6268; /* Mudança de cor ao passar o mouse */
}

.shepherd-element .shepherd-bullets {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.shepherd-element .shepherd-bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #ccc;
    border-radius: 50%;
}

.shepherd-element .shepherd-bullet-active {
    background: #007bff;
}

.shepherd-modal-overlay-container {
    background: rgba(0, 0, 0, 0.7); /* Ajuste a opacidade do fundo */
    pointer-events: none;
}

.shepherd-element {
    margin-top: 20px; /* Ajuste o valor conforme necessário */
}

.shepherd-target-highlight {
    outline: 2px solid #007bff; /* Cor e espessura do contorno */
    outline-offset: 2px;
    background: transparent; /* Ajuste o fundo para ser mais visível */
    filter: none; /* Remova o blur */
    z-index: 9998;
}

#list-stations.shepherd-target-highlight {
    outline: none; /* Remova outline padrão */
    border: 2px solid #007bff; /* Adicione a borda azul */
    border-radius: 8px; /* Adicione border-radius */
    padding: 5px;
}