/* HomePage */
.home-container {
    padding: 20px;
    background-color: #2C2C2C; /* Fundo cinza escuro */
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.home-header {
    background-color: #1E1E1E;
    color: #FFFFFF;
    padding: 50px 20px;
}

.home-header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home-header p {
    font-size: 1.5rem;
}

.home-content {
    background-color: #1E1E1E;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 10px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.home-section h3 {
    color: #FFD700;
}

.home-section p {
    text-align: justify;
    line-height: 1.8;
    font-size: 1.2rem;
    color: #1a1616;
}

.home-section a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: 2px solid #FFD700;
    border-radius: 5px;
    color: #e7c606;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.home-section a:hover {
    background-color: #FFD700;
    color: #1E1E1E;
}

/* Rodapé */
.home-footer {
    background-color: #2C2C2C;
    color: #FFFFFF;
    padding: 30px 20px;
    text-align: center;
}

.footer-socials a {
    color: #1E90FF;
    margin: 0 15px;
}

.footer-socials a:hover {
    color: #FFD700;
}