/* HomePage */
.home-container {
    padding: 20px;
    background-color: #2C2C2C;
}

.home-header {
    background-color: #1E1E1E;
    color: #FFFFFF;
    padding: 15px 30px;
    text-align: center;
    width: 85%;
    margin: auto;
}

.home-header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home-header p {
    font-size: 1.5rem;
}

.home-content {
    background-color: #1E1E1E;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 10px;
    max-width: 85%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.home-section {
    margin-bottom: 1.5rem;
}

.home-section h3 {
    color: #FFD700;
    font-size: 1.3rem;
}

.home-section p, .home-section ul {
    text-align: justify;
    line-height: 1.8;
    font-size: 1.3rem;
    color: #E0E0E0;
}

.home-section ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.home-section a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: 2px solid #FFD700;
    border-radius: 5px;
    color: #FFD700;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.home-section a:hover {
    background-color: #FFD700;
    color: #1E1E1E;
}

/* Rodapé */
.home-footer {
    background-color: #2C2C2C;
    color: #FFFFFF;
    padding: 30px 20px;
    text-align: center;
}

.footer-socials a {
    color: #1E90FF;
    margin: 0 15px;
}

.footer-socials a:hover {
    color: #FFD700;
}
